* {

	box-sizing: border-box;

	}

	.row{

	width: 100%;
	
	}

body{

	margin:0;
	padding: 0;



}




h1{

	text-align: center;
	margin: 50px;
	position: relative;
	top: 5px;

	}

p {

	border: 1px solid black;
	width: 90%;
	font-family: Helvetica;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	

}





@media(min-width: 991px) {

	.col-lg-4 {
	width: 33.33%;
    float: left;
   
  }
  
	}



@media(min-width: 768px) and (max-width: 991px){

		.col-md-6 {

		width: 50%;
		float: left;


	}
		
		#p3{

		clear: both;
		width: auto;
		margin:20px;

		}

}

@media(max-width: 767px){

	.col-sm-12{

		width: 90%;
		
	}
}

	#p1{

		text-align: left;
		background-color: #DEB887;
		position: relative;		
		}

	#p2{

		text-align: left;
		background-color: #A52A2A;
		position: relative;
	}

	#p3{

		text-align: left;
		background-color: #00FFFF;
		position: relative;
		

	}

	

	#span1{

		border: 1px solid black;
		width: 130px;
		padding: 5px;
		text-align: center;
		background-color: #a0de87;
		position: absolute;
		top: 0px;
		right: 0px;

	}

	#span2{

		border: 1px solid black;
		width: 130px;
		padding: 5px;
		text-align: center;
		background-color: #e4ff00;
		position: absolute;
		top: 0px;
		right: 0px;

	}

	#span3{

		border: 1px solid black;
		width: 130px;
		padding: 5px;
		text-align: center;
		background-color: #00adff;
		position: absolute;
		top: 0px;
		right: 0px;

	}